@import "helper";

// *
// *
// * Global
// *
// *
 
.slider-nav {  
	margin: 60px -50px 0px;
	z-index: 5;
	.slick-slide {
		height: 100px;
		position: relative;
		margin-bottom: 110px;

		&:after {
			content: " "; 
		    border-left: 35px solid transparent;
		    border-right: 35px solid transparent;
		    border-top: 35px solid #fff;
		    position: absolute;
		    left: 50%;
		    bottom: -75px;
		    margin-left: -35px;
            @include transition(all .25s);
		}
	}
	.slick-current {
		&:after {
			@include transform(translateY(35px));
		}
	}
    div { 
    	text-align: center;
    	outline: none !important;
        a {
            background-color: transparent;
            display: block;
    		padding: 0px 5px; 
    		text-decoration: none;
    		outline: none !important;
            .images {
            	background-color: #fff;
                border-radius: 50%;
                border: 2px solid #616161;
                display: table;
                text-align: center;
                width: 55px;
                height: 55px; 
                left: 50%;
                margin-left: -25px;
                position: relative;
                @include transition(all .25s);
                > span {
                        display: table-cell;
                        vertical-align: middle; 
                    img {
                    	margin: 0 auto;
                    }
                } 
            }
            span { 
                color: #616161;
                font-size: 14px;
                font-weight: 500;
                margin-top: 15px;
                display:block;  
                white-space: normal;
                @include transition(color .25s);
            }
            &:hover, &:focus {
            	.images {
            		background-color: #eee;
            		border-color: #919191;
            	}
            	span { 
                	color: #919191;
                }
            }
        }
        .slick-slide.slick-current.slick-active, .slide-orange {
    		background-color: transparent;
            a {
                .images {
                    background-color: $orange;
                    border-color:  $orange;
                }
                span { 
                    color:  $orange;
					// font-weight: bold; 
                } 
            } 
        }
        .slide-orange {
            a { 
                &:hover { 
	                .images {
	                    background-color: $orange-2;
	                    border-color:  $orange-2;
	                }
	                span { 
	                    color:  $orange-2; 
	                }
                }
            } 
        }
    } 
}
#slider-main {
    margin-top: -30px;
    background-color: $black-grey;
    padding: 85px 0px; 
    color: #fff;
    .header {
    	margin-bottom: 50px;
	    .icon-circle {
	    	float: left;
	    	margin-right: 30px;
	    }
	    h2 {
	    	margin: 0px;
	    	color: $orange;
	    }	
    }
    h2, h3 {
	    color: $orange;
    }
    p {
    	margin-bottom: 30px;
    }
    .btn.btn-orange {
    	margin-top: 15px;
    }
    .right {
    	.image-hover {
    		margin: 90px 0px 90px 230px;
    	}
    }
}
.slider-nested {
	div {
		outline: none !important;
	}
	.fa-angle-left.slick-arrow {
	    position: absolute;
	    top: 50%;
	    margin-top: -20px;
	    left: -65px;
	    font-size: 40px;
	    cursor: pointer;
	}
	.fa-angle-right.slick-arrow {
	    position: absolute;
	    top: 50%;
	    margin-top: -10px;
	    right: -65px;
	    font-size: 40px;
	    cursor: pointer;
	}
}
.icon-circle { 
	background-color: #fff;
    border-radius: 50%;
    border: 2px solid #616161;
    display: table;
    text-align: center;
    width: 55px;
    height: 55px;   
    position: relative; 
    > span {
            display: table-cell;
            vertical-align: middle; 
        img {
        	margin: 0 auto;
        }
    }  
    &.orange {
		background-color: $orange;
		border-color: $orange;
    }
}
.slick-track, .slick-slider, .slick-slide, .slick-current, .slick-active {
	outline: none !important;
}
.slick-slider {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.slick-list.draggable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#progress-slider {
	position: relative;

	.progress {
	    height: 2px;
	    position: absolute;
	    top: -185px;
	    left: 47px;
	    right: 47px;
	}
}
 